{% extends 'profiles/base.html' %}

{% load crispy_forms_tags %}
<head>
  <title>Login</title>
</head>
{% block content %}
<div class="shadow-lg p-3 mb-5 bg-body rounded">

<div class="mx-auto text-primary" style="width: 200px;">
  <h1>Login</h1>
</div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Log in to PaulStudios">Sign in</button>
  </form>
  Need An Account? <a href='{%url 'register'%}'>Sign Up</a></form></div>
{% endblock %}