amqp==5.2.0
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.0
cachetools==5.3.3
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
ChatbotAPI==2.5
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
Django==5.0.6
django-crispy-forms==2.1
django-environ==0.11.2
django-extensions==3.2.3
django-sesame==3.2.2
flower==2.0.1
google-api-core==2.19.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
gunicorn==22.0.0
hiredis==2.3.2
httplib2==0.22.0
humanize==4.9.0
idna==3.7
joblib==1.4.2
kombu==5.3.7
lxml==5.2.2
lyrics-extractor==3.0.1
nltk==3.8.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
prometheus_client==0.20.0
prompt_toolkit==3.0.45
proto-plus==1.23.0
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyjokes==0.6.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytube==15.0.0
pytz==2024.1
redis==5.0.4
regex==2024.5.15
requests==2.32.3
rsa==4.9
setuptools==70.0.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
textblob==0.18.0.post0
tornado==6.4
tqdm==4.66.4
typing_extensions==4.12.1
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
wheel==0.43.0
whitenoise==6.6.0
youtube-search==2.1.2
